html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black !important;
}

#videoContainer {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.video-card {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.video-card video {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 保证比例不失真 */
}

#add-btn {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    z-index: 100;
}

#add-btn.hidden { display: none; }
